<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--企业微信开入门：https://blog.csdn.net/wanglui1990/article/details/79744407-->
    <add key="corpid" value="yourCorpid"/>
    <add key="secret" value="yourCorpSecret"/>
    <add key="getAccessTokenUrl" value="https://qyapi.weixin.qq.com/cgi-bin/gettoken?corpid={0}&amp;corpsecret={1}"/>
    <add key="messageSendURI" value="https://qyapi.weixin.qq.com/cgi-bin/message/send?access_token={0}"/>
    <add key="CorpSendBaseAgentID" value="yourAppAgentID"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
